@model IEnumerable<Shope.Models.Cart>
@{
    ViewData["Title"] = "cart";
}

<h2>cart</h2>
@{var price = Global.CurrentCart.TotalAmount;}
@foreach (var item in Global.CurrentCart.Products)
{
    <p>שם:  </p>
    @Html.DisplayFor(modelItem => item.TypeName)
    <p>מחיר:  </p>
    @Html.DisplayFor(modelItem => item.Price)
    <p>צבע:  </p>
    @Html.DisplayFor(modelItem => item.Color)
    <p>משקל:  </p>
    @Html.DisplayFor(modelItem => item.Weight)
    <p>יחידות:  </p>
    @Html.DisplayFor(modelItem => item.Unit)
    
}
    <p>@price מחיר כולל:</p>




